.input-nota{
    padding: 15px;
}

/* .Nuevanota input[type="text"]{
	padding: 20px;
} */

.boton-agregar {
	padding: 10px;
	color:#fff;
	background: #019875;
	border: none;
    margin: 1px;
}

.boton-agregar:hover {
	background-color: #02bab5;
	color:#fff;
}