.input-nota{
    padding: 15px;
}

/* .Nuevanota input[type="text"]{
	padding: 20px;
} */

.boton-agregar {
	padding: 10px;
	color:#fff;
	background: #019875;
	border: none;
    margin: 1px;
}

.boton-agregar:hover {
	background-color: #02bab5;
	color:#fff;
}
.contenedor-nueva-nota{
	display: grid;
	justify-content: center;

	width: 100%;
	height: 100%;
	grid-template-rows: 40px 40px 40px;
	grid-template-columns: 200px 300px;
}

#root{
	width: 100%;
	height: 100%;
}


.contenedor-boton-logout{
    color: white;
    padding: 10px;
    width: 150px;
    text-align: center;
    border-radius: 50px;
    background: linear-gradient(0deg, black, #9E9E9E);
    text-shadow: 1px 1px 10px yellow;
    box-shadow: 5px 5px 2px #607D8B;
  }
  
  .animado{
    top: 20px;
    animation: mi-animacion 2s infinite reverse;
  }