/* .App {
  text-align: center;
} */
* {
  margin: 0;
  padding: 0;

}

/*html, */
body {
  margin: 0;
  /* font-size: 18px;
/*background: #4AC29A;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 
background: linear-gradient(to right, #BDFFF3, #4AC29A); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
*/
  /* background-image: url("./img/background.jpg") ; */
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("./img/background.jpg");
  background-size: contain;
}

/* h1 {
  max-width: 940px;
  font-size: 2.5em;
  font-family: Lato, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  margin: 40px 0;
} */

.App {
  height: 100%;
  width: 100%;

  /* flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center; */
  display: flex;


  justify-content: center;
}

.contenedor-principal {
  /* min-height: 58vh;
  max-width: 100%; */

  display: flex;

  align-content: center;
  justify-content: center;
}

.contenedor-header,
.contenedor-footer {
  background-color: rgba(0, 0, 0, .5);
  /* padding: 20px;*/
  margin: 0;
  font-family: 'Lobster', cursive;

}

.contenedor-header {
  font-family: 'Lobster', cursive;


  align-self: flex-start;
}

.contenedor-footer {
  font-family: 'Lobster', cursive;
  align-self: flex-end;
}

/* .contenedor-principal-nueva-nota{
  min-height: 20vh;
  display: flex;

  align-items: center;
  justify-content: center;
} */